/* ------------------------------------------------ */
/* GENERELT                                         */
/* ------------------------------------------------ */

body {
    font-family: "Lato", sans-serif;
    margin: 0; /* så siden flugter med kanten */
}

main {
    padding: 0 20px;
}

button {
    font-family: "Lato", sans-serif;
}

/* ------------------------------------------------ */
/* HEADER                                           */
/* ------------------------------------------------ */

  /* banner */
.banner {
    background-color: #FFA7CF;
    padding: 3.5px 7;
}
.banner p {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 3.5px 0;
    margin: 0;
}
  /* main-header */
.main-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 7px;
}
  /* main-header knapper*/
  .main-header-left {
    display: flex;
    justify-content: left;
  }
  #vm-knap {
    background-color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    padding: 7px 14px;
  }

  #ts-knap {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5rem;
    text-decoration: none;
    color: #000000;
    padding: 7px 14px;
  }

  /* main-header søgefelt og ikoner */
  .main-header-right {
    display: flex;
    justify-content: left;
  }
  .search-container {
    display: flex;
  }
  .search-bar {
   border-bottom: 1px solid #cccccc;
   padding: 0 3.5px;
  }
  input[type=text] {
    float: right;
    padding: 7px 14px 7px 3.5px;
    border: none;
    margin: 0;
    font-size: 16px;
  }
  #searching {
    float: right;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #cccccc;
  }

  .icon-container {
    display: flex;
    align-items: center;
    position: relative;
    column-gap: 1rem;
    padding: 7px 0 10px 14px;
  }
  .icons {
    width: 20px;
  }

  /* logo container */
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -41px;
    z-index: 999;
    padding: 10px 7px;
  }

  #logo {
    max-width: 182px;
  }
  /* nav */
  .top-categories {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: #000000;
    text-align: center;
    font-size: 14px;
    padding: 7px 14px;
    text-decoration: none;
  }

  /* Top navigation justering */
.top-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  
  .nav-menu > li {
    float: left;
    position: relative;
  }
  
  .nav-menu > li > a {
    display: block;
    color: #000000;
    text-align: center;
    font-size: 14px;
    padding: 7px 14px;
    text-decoration: none;
  }
  
  /* MEGA MENU */
  
  .has-mega {
    position: relative;
  }
  
  /* Selve dropdownen */
  .mega-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-28%); /* centrer hele dropdownen */
    width: 1400px;               /* fast bredde */
    height: 420px;               /* fast højde */
    
    background-color: #ffffff;
    padding: 1rem;
    display: none;

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 999;

    border-top: 1px solid transparent; /* bliver synlig når aktiv */
  }
  
  /* Indholdslayout */
  .mega-inner {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 20px;
  }
  
  /* Kolonner */
  .mega-column h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 2px 0;
    margin: 0;
  }
  
  .mega-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .mega-column ul li {
    float: none;                /* overstyrer global float */
  }
  
  .mega-column ul li a {
    display: block;
    text-align: left;
    font-size: 14px;
    padding: 2px 0;
    color: #000000;
    text-decoration: none;
  }
  
  .mega-column ul li a:hover {
    text-decoration: underline;
  }
  
  /* Når vi åbner via klik (JS) */
  .has-mega.is-open > .mega-menu {
    display: flex;
  }
  .has-mega.is-open > .nav-link {
    font-weight: 600;
  }

  



/* ------------------------------------------------ */
/* INFLUENCER OVERSIGT                              */
/* ------------------------------------------------ */

.influencer-overview {
    padding: 15px 0;
}

.influencer-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

/* SIDEBAR */

.influencer-sidebar {
    flex: 0 0 268px;
}

.sidebar-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 2.8px 0;
    margin: 0;
}

.sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-list li {
    margin-bottom: 6px;
}

.sidebar-list a {
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    line-height: 1.5;
    color: #000;
    padding: 2.8px 0;
    margin: 0;
}


.sidebar-active a {
    font-weight: 600;
    text-decoration: underline;
}

.influencer-title {
    font-size: 35px;
    margin: 0 0 16px 0;
}

.influencer-text {
    font-size: 14px;
    line-height: 1.5;
    max-width: 268px;
}

/* HØJRE SIDE / MAIN */

.influencer-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Toplinje med brødkrumme + sortering */

.influencer-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 0;
}

.breadcrumb {
    display: flex;
    align-items: center;
}

.breadcrumb a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.breadcrumb-item {
    padding: 2px 8px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* Filtre-knap + sortering */

.filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
    padding: 10px 0 20px 0;
}

.filter-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 0;
    color: var(--text-color);
    gap: 0.5rem;
}

.filter-btn img {
    max-height: 20px;
}

.sorter {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 0;
    color: var(--text-color);
    gap: 0.5rem;
}

.sorter img {
    max-width: 20px;
    rotate: -90deg;
}

/* GRID MED CARDS */

.influencer-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px 20px;
}

/* Card */

.influencer-card {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.influencer-card a {
    text-decoration: none;
    color: #000000;
}

.influencer-media {
    position: relative;
    height: 340px;
    max-width: auto;
    background-color: #f5f5f5;
    overflow: hidden;
}

.influencer-media p {
    line-height: 1.5;
    padding: 0 3.5px;
}

.influencer-media img {
    width: 100%;
    height: auto;
}

.influencer-media video {
    width: 100%;
    height: 100%;           /* Giver cropping */
    object-fit: cover;
    object-position: center;   /* <-- betyder: vis centeret af videoen */
}

/* Tekster under billede */

.influencer-meta {
    font-size: 11px;
}

.handle {
    text-transform: uppercase;
    font-weight: 600;
}

.handle, .styles-count,
.total-price {
    padding: 3.5px 0;
    margin: 0;
}

/* ------------------------------------------------ */
/* RESPONSIVE                                       */
/* ------------------------------------------------ */

@media (max-width: 1100px) {
    .influencer-container {
        flex-direction: column;
    }

    .influencer-sidebar {
        flex-basis: auto;
    }

    .influencer-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 700px) {
    .influencer-container {
        padding: 0 16px;
    }

    .influencer-grid {
        grid-template-columns: 1fr;
    }
}


/* ----------------------------------------- */
/* INFLUENCER DETALJE-SIDE                   */
/* ----------------------------------------- */
.breadcrumb-container {
    display: flex;
    align-items: center;
}

.breadcrumb-container img {
    width: 20px;
}

.breadcrumb-container a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.breadcrumb-item {
    padding: 2px 8px;
}

.breadcrumb-container a:hover {
    text-decoration: underline;
}

.detail-container {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 15px 0;
}

/* VENSTRE SIDE */

.detail-left {
    display: flex;
    gap: 20px;
}

/* Gallery-kolonne */

.detail-gallery {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

/* .gallery-arrow {
    cursor: pointer;
    border: none;
    border-radius: 0 3px 3px 0;
    width: 20px;
    height: 20px;
}

.up {
    rotate: 90deg; 
    top: 0;
}

.down {
    rotate: -90deg;
} */

.gallery-item {
    border: 1px solid #e0e0e0;
    padding: 0;
    cursor: pointer;
    position: relative;
    background-color: #f5f5f5;
    width: 150px;
    height: 195px;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-item video {
    width: 100%;
    height: 100%;           /* Giver cropping */
    object-fit: cover;
    object-position: center;   /* <-- betyder: vis centeret af videoen */
}

.gallery-item.is-active {
    border-color: #000;
}

.gallery-play {
    position: absolute;
    top: 70px;
    left: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 14px;
}

/* Stort område */

.detail-media {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 509px;
}

.detail-media video {
    width: 100%;
    height: 625px;             /* Giver cropping */
    object-fit: cover;
    object-position: center;   /* <-- betyder: vis centeret af videoen */
}

/* Tekst under video */

.detail-caption {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

.detail-usps {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-top: 20px;
    font-size: 12px;
    line-height: 1.5;
    gap: 5px;
}

.detail-usps li {
    display: flex;
    justify-content: start;
    align-items: center;
}
.detail-usps img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}
/* HØJRE SIDE */

.detail-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-handle {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.btn-add-all {
    padding: 10px 28px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.5;
    text-transform: uppercase;
    cursor: pointer;
}

/* Produkter */

.detail-products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

.detail-product-card {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 325px;
}

/* Produkt-billed-galleri i influencer-detalje */

.product-image {
    position: relative;
}

.product-photo {
    display: none;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.product-photo.is-active {
    display: block;
}

/* små cirkler under billedet */

.product-dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.product-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #A7A7A7;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.product-dot.is-active {
    border: 1px solid #000000;
}

.product-info {
    font-size: 12px;
}

.product-name {
    font-size: 16px;
    margin: 4.5px 0;

}

.product-price {
    font-size: 14px;
    margin: 3.5px 0;
}

.product-color {
    margin: 0 0 8px 0;
}

/* række med farvebilleder under hovedbilledet */
.variant-row.simple-variants {
    display: flex;
    gap: 6px;
    margin-top: 4px;
}

.variant-row.simple-variants .variant-thumb {
    border: 1.5px solid #f1f1f1;
    background: #fff;
    padding: 0;
    margin-bottom: 5px;
}

.variant-row.simple-variants .variant-thumb img {
    display: block;
    width: 50px;      /* justér til den størrelse du vil have */
    height: auto;
}

/* de er kun dekorative – ingen hover/cursor */
.variant-row.simple-variants .variant-thumb {
    cursor: default;
}

.product-sizes p,
.product-length p {
    margin: 0 0 4px 0;
}

.size-guide {
    border: none;
    color: #000000;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin: 0 0 4px 0;
}
.guide {
    display: flex;
    justify-content: space-between;
}
.size-options,
.length-options {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.size-options button,
.length-options button {
    border: 1px solid #a7a7a7;
    background: #fff;
    padding: 4px 8px;
    font-size: 11px;
    cursor: pointer;
}

.size-options button:hover,
.length-options button:hover {
    border-color: #000;
}

/* Kurv-knapper */

.btn-add-cart {
    width: 100%;
    margin-top: 10px;
    padding: 9px 0;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    cursor: pointer;
}

.product-more {
    display: inline-block;
    margin-top: 6px;
    font-size: 11px;
    color: #000;
}

/* ------------------------------- */
/* POPUP: Flere detaljer           */
/* ------------------------------- */

.product-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.product-popup {
    background: #fff;
    width: 70%;
    max-width: 900px;
    padding: 40px;
    border-radius: 2px;
    max-height: 85vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    animation: popup-fade 0.25s ease;
}

.product-popup h2 {
    margin: 8px 0;

}

.product-popup ul {
    display: flex;
    flex-direction: column;
}

.product-popup p, .product-popup li {
    line-height: 1.5;
    margin: 3.5px 0 ;
}

/* Luk-knappen */
.popup-close {
    position: absolute;
    top: 18px;
    right: 18px;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}

/* Animation */
@keyframes popup-fade {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}


/* RESPONSIVT (basic) */

@media (max-width: 1100px) {
    .detail-container {
        flex-direction: column;
    }

    .detail-left,
    .detail-right {
        flex: 1 1 auto;
    }
}

@media (max-width: 800px) {
    .detail-products {
        grid-template-columns: 1fr;
    }

    .detail-container {
        padding: 0 16px;
    }
}
